
.show-details{
    background-color: #00AB95;
    padding-bottom: 5px;
}

.btn-space {
    margin-left: 5px;
    margin-top: 5px;
}

.error{
    color: #E5B50A;
    margin: 10px;
    font-size: 25px;
  }

.row{
    margin-bottom: 20px;
}

img {
    max-width: 400px;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    
  }
  
.loader {
    text-align: center;
  }
    

p{
    color: #E5B50A;
  }

  .carousel-caption{
    top: 150px;
    color: #E5B50A;
}
h3{
  padding-left: 20px;
}

.details{
  margin-top:10px;
}