.card{
    background-color: #00AB95;
    width: 100%;
}
.card-header {
    background-color: #00AB95;
    color: #E5B50A;
}

.flex-container {
    margin-top: 10px;
}

.carousel-caption{
    top: 150px;
    color: #E5B50A;
}