.card{
    margin-top: 5px;
    background-color: #00AB95;
}

.card-header {
    background-color: #00AB95;
    color: #E5B50A;
}

.carousel-caption{
    top: 150px;
    bottom: auto;
    color: #E5B50A;
}

.loader {
    text-align: center;
}

.btn{
    color: #E5B50A;
}